header{

    border-bottom: 1px solid #e9ecef;
    z-index: 100;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #e9ecef;
    width: 90vw;

}