.btEntrar, .btCadastrar{
    background-color: white;
    color: #91327A;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
