.perfil-container-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

.titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  gap: 10px;
  width: 20%;
  height: 25%;
}

.titulo-container img {
  width: 100%;
  height: 55%;
}

.perfil-container-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 25%;
}

.perfil-container-dados label {
  grid-column: span 2;
  font-weight: bold;

}

.perfil-container-dados input {
  padding: 2%;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
}

.perfil-container-dados-nome,
.perfil-container-dados-email,
.perfil-container-dados-ra,
.perfil-container-dados-setor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.perfil-container-botoes {
  width: 30%;
  display: flex;
  align-items: center;

}

.perfil-container-dados-admin {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
}

@media only screen and (max-width: 600px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}