.perfil-container-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 10px;
  color: white;
  margin: 50px 0;
}

.titulo-container img{

  border: 3px solid white;
  padding: 20px;
  border-radius: 50%;

}

.perfil-container-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
}

.perfil-container-dados label {
  grid-column: span 2;
  font-weight: bold;
  width: 300px;
  color: #91327A;
}

.perfil-container-dados input {
  padding: 10px;
  background-color: #91327A;
  border-radius: 10px;
  border: none;
  color: white;
  width: 300px;
  font-size: 16px;
  cursor:unset;
}

.perfil-container-dados input:focus {
  outline: none;
}

.perfil-container-dados-nome,
.perfil-container-dados-email,
.perfil-container-dados-ra,
.perfil-container-dados-setor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.perfil-container-botoes {
  width: 30%;
  display: flex;
  align-items: center;

}

.perfil-container-dados-admin {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
}

@media only screen and (max-width: 600px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .titulo-container {
    width: 50%;
    font-size: 1rem;
  }

  .perfil-container-dados {
    width: 70%;
  }
}