.divHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.divHome .divCalendar {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.react-calendar {
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    padding: 40px;
    background-color: #fff;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: white;
}

.react-calendar__tile:hover {
    background-color: #e9ecef;
}

abbr {
    font-size: 1.2rem;
}

span {
    font-size: 1rem;
}


.MuiAutocomplete-root {
    width: 100%;
    color: white;
}

.MuiAutocomplete-endAdornment {
    width: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.MuiAutocomplete-tag {
    color: white;
    margin: 5px;
}

.MuiPopper-root {
    background-color: white;
    height: 200px;
    overflow-y: auto;
}

.MuiChip-label {
    color: white;
}

.user-select-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.MuiAutocomplete-root, .MuiFormControl-root, .MuiInputBase-root{

    border: none !important;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .react-calendar {
        width: 90vw;
        height: 45vh;
    }

    .react-calendar__tile {
        padding: 10px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .react-calendar {
        width: 80vw;
        height: 70vh;
    }

    .react-calendar__tile {
        padding: 15px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .react-calendar {
        width: 70vw;
        height: 75vh;
    }

    .react-calendar__tile {
        padding: 18px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .react-calendar {
        width: 65vw;
        height: 75vh;
    }

    .react-calendar__tile {
        padding: 20px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .react-calendar {
        width: 80vw;
        height: 65vh;
    }

    .react-calendar__tile {
        padding: 20px;
    }

}