.container-wrapper {

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(180deg, rgba(86, 40, 131, 1) 9%, rgba(145, 50, 122, 1) 65%, rgba(191, 118, 47, 1) 100%);
  font-family: "Inter", serif;

}

.container-logo {

  display: flex;
  justify-content: center;

}

.container-logo img {
  display: flex;
  width: 50%;
  height: auto;

}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 5px solid white;
  padding: 25px 50px;
  border-radius: 5px;
}

.esqueceu-senha {
  color: white;
  font-size: 10px;
  margin: 30px 0;
}

form {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  gap: 20px;

}

.container-dados {

  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;

}

.container-dados input {
  height: 20%;
  border-radius: 5px;
  border: 3px solid white;
  padding: 10px;
  background-color: transparent;
  color:white
}

.container-dados input:focus {
  outline: none;
}

.container-dados label {
  color: white;
  font-size: 15px;
  margin: 10px 0;
  font-weight: bold;
}

.container-botoes {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.saiba-mais {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

