@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #91327A;
    background-size: cover;
}

.MuiPaper-root {
    background-color: transparent !important;
    box-shadow: none !important;
    justify-content: center;
    display: flex !important;
    align-items: center !important;
}

.MuiDialogContent-root {
    background: #91327A;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 500px !important; 
    height: auto !important; 
}

.MuiDialogContent-root div p{

    margin: 10px 0;

}

.MuiDialogContent-root div div p{

    font-size: 1rem;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: left !important;

}

.MuiDialogContent-root div div p a{

    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

}

.MuiDialogContent-root div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MuiDialogContent-root div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.MuiDialogContent-root div ul li {
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.MuiDialogContent-root form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.MuiDialogContent-root form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MuiDialogContent-root form label {
    font-size: 1rem;
    margin: 10px;
    text-align: left;
}

.MuiDialogContent-root form input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: white;
    background-color: transparent;
}

.MuiDialogContent-root form textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: white;
    background-color: transparent;
}

.MuiDialogContent-root form select {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: white;
    background-color: transparent;
}

.MuiDialogContent-root form select option {
    color: black;
}

.MuiDialogContent-root Button {
    color: white;
    font-size: 1rem;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .MuiDialogContent-root {
        width: 90%;
        height: auto;
        box-shadow: none;
    }

    .MuiDialogContent-root form input,
    .MuiDialogContent-root form select {
        width: 100%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .MuiDialogContent-root {
        width: 80%;
        height: auto;
    }

    .MuiDialogContent-root form input,
    .MuiDialogContent-root form select {
        width: 90%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .MuiDialogContent-root {
        width: 70%;
        height: auto;
    }

    .MuiDialogContent-root form input,
    .MuiDialogContent-root form select {
        width: 85%;
    }

    span {
        font-size: 1.05rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .MuiDialogContent-root {
        width: 600px;
        height: 500px;
    }

    .MuiDialogContent-root form input,
    .MuiDialogContent-root form select {
        width: 80%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .MuiDialogContent-root {
        width: 600px;
        height: 500px;
    }

    .MuiDialogContent-root form input,
    .MuiDialogContent-root form select {
        width: 80%;
    }

}